enable-pre-post-scripts=true

# NPM_CONFIG_ICON_KEY="E80A6CD3-A2C1-43FE-901F-5FC1B8B23F23"
# NPM_TOKEN="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"
# PUBLISH_GITHUB_NPM_REGISTRY_TOKEN="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"

#always-auth=true
@adyptation:registry=https://npm.pkg.github.com/
@fortawesome:registry=https://npm.fontawesome.com/
//registry.npmjs.org/:_authToken="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"
//npm.pkg.github.com/:_authToken="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"
//npm.fontawesome.com/:_authToken="E80A6CD3-A2C1-43FE-901F-5FC1B8B23F23"

# //registry.npmjs.org/:_authToken=${NPM_TOKEN}
# //npm.pkg.github.com/:_authToken=${PUBLISH_GITHUB_NPM_REGISTRY_TOKEN}
# //npm.fontawesome.com/:_authToken=${NPM_CONFIG_ICON_KEY}